.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(4px);
  padding: 17px;
  box-sizing: border-box;
  border-radius: 1rem;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  color: white;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  transition: background 0.2s;
}

.nav-btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
