.screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  padding-bottom: 80px;
  min-height: 100vh;
  background: var(--color_bg_screen);
}

.screen-content {
  padding-bottom: 60px;
  width: 100%;
}
