.screen {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: flex-start;
  padding: 16px;
  box-sizing: border-box;
  padding-bottom: 100px;
  min-height: 100vh;
}

.screen-content {
  padding-bottom: 60px;
  width: 100%;
}

@keyframes float-bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
