@import 'tailwindcss';

html,
body,
#root {
  overscroll-behavior: none;
  font-family: var(--font-sans);
  font-size: var(--text-l);
  line-height: calc(var(--spacing) * 8);
  /* color: oklch(0.97 0 0 / 0.49); */
  color: oklch(1 0 0 / 0.72);
}

html::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и современных мобильных браузеров */
}

body {
  background: radial-gradient(circle, rgb(14 92 77), rgb(14 58 72));
  background-size: 300% 300%;
  background-position: 50% 50%;
  animation: float-bg 20s linear infinite;
}
