@import 'tailwindcss';

html,
body,
#root {
  overscroll-behavior: none;
  font-family: var(--font-sans);
  font-size: var(--text-l);
  line-height: calc(var(--spacing) * 8);
  /* color: oklch(0.97 0 0 / 0.49); */
  color: oklch(1 0 0 / 0.72);
}

html::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и современных мобильных браузеров */
}

body {
  background: radial-gradient(circle at 50% 50%, rgb(14 92 77) 0%, rgb(14 58 72) 60%);
  background-size: 200% 200%;
  animation: float-bg 15s ease-in-out infinite;
}

svg:focus,
g:focus,
path:focus {
  outline: none;
}
